In [2]:
import pandas as pd
import numpy as np

# File to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# School and Student data file 
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data 
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
#Total number of unique schools
total_schools= school_data["school_name"].count()
total_schools

15

In [7]:
#Total number of students
total_students= student_data["student_name"].count()
total_students

39170

In [8]:
#Total budget
total_budget= school_data["budget"].sum()
total_budget

24649428

In [10]:
#Average math score
avg_math= student_data[("math_score")].mean()
avg_math

78.98537145774827

In [11]:
#Average reading score
avg_reading= student_data[("reading_score")].mean()
avg_reading

81.87784018381414

In [12]:
#Percentage of passing math score
perc_math_pass= (school_data_complete["math_score"]>70). sum()/school_data_complete["math_score"].count()*100
perc_math_pass

72.39213683941792

In [13]:
#Percentage of passing reading score
perc_reading_pass= (school_data_complete["reading_score"]>70).sum()/school_data_complete["reading_score"].count()*100
perc_reading_pass

82.97166198621395

In [14]:
#Percentage of passing rate
overall_avg=((avg_math + avg_reading)/2)
overall_avg

80.43160582078121

In [29]:
#District Summary 
District_Summary = pd.DataFrame({"Total Schools":[total_schools], "Total Students":[total_students],"Total Budget":[total_budget],
"Average Math Score":[avg_math], "Average Reading Score":[avg_reading], "% Passing Math":[perc_math_pass],"% Passing Reading":[perc_reading_pass],"% Overall Passing Rate":[overall_avg]})
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,80.431606

In [28]:
#District Summary
District_Summary_DF=pd.DataFrame(District_Summary, columns=["Total Schools","Total Students","Total Budget"
"Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"])
District_Summary_DF

,Total Schools,Total Students,Total BudgetAverage Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,NaN,81.87784,72.392137,82.971662,80.431606

In [37]:
#School Name
sch_types=school_data.set_index(["school_name"])["type"]

In [38]:
#Total Students per school
stu_per_sch=school_data_complete["school_name"].value_counts()
stu_per_sch.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [39]:
#Total School Budget
sch_budget=school_data_complete.groupby(["school_name"])["budget"].mean()
sch_budget.head()

school_name
Bailey High School      3124928.0
Cabrera High School     1081356.0
Figueroa High School    1884411.0
Ford High School        1763916.0
Griffin High School      917500.0
Name: budget, dtype: float64

In [40]:
#Per Student Budget
per_stu_bud=sch_budget/stu_per_sch
per_stu_bud

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [41]:
#Average Math Score per school
avg_math_perSch=school_data_complete.groupby(["school_name"])["math_score"].mean()
avg_math_perSch.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [42]:
#Average Reading Score per school
avg_red_perSch= school_data_complete.groupby(["school_name"])["reading_score"].mean()
avg_red_perSch.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [59]:
#% Passing Math
pas_math_scor=school_data_complete.loc[school_data_complete["math_score"]>=70]
pas_math_scor
group_math_sch=pas_math_scor["school_name"].value_counts()
group_math_sch.head()
percent_math=group_math_sch/stu_per_sch*100
percent_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: school_name, dtype: float64

In [60]:
#% Passing Reading
read_scor=school_data_complete.loc[school_data_complete["reading_score"]>=70]
by_read_PerSch= read_scor["school_name"].value_counts()
by_read_PerSch.head()
percent_read=by_read_PerSch/stu_per_sch*100
percent_read

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: school_name, dtype: float64

In [67]:
#% Overall Passing
overall=percent_math + percent_read/stu_per_sch
overall

Bailey High School       66.696530
Cabrera High School      94.185705
Figueroa High School     66.015849
Ford High School         68.338554
Griffin High School      93.458542
Hernandez High School    66.770413
Holden High School       92.731271
Huang High School        65.711799
Johnson High School      66.074611
Pena High School         94.694331
Rodriguez High School    66.386652
Shelton High School      93.921553
Thomas High School       93.331687
Wilson High School       93.910004
Wright High School       93.387006
Name: school_name, dtype: float64

In [ ]:
Top Schools

In [65]:
#% Overall Passing
overall=percent_math + percent_read/stu_per_sch
overall

Bailey High School       66.696530
Cabrera High School      94.185705
Figueroa High School     66.015849
Ford High School         68.338554
Griffin High School      93.458542
Hernandez High School    66.770413
Holden High School       92.731271
Huang High School        65.711799
Johnson High School      66.074611
Pena High School         94.694331
Rodriguez High School    66.386652
Shelton High School      93.921553
Thomas High School       93.331687
Wilson High School       93.910004
Wright High School       93.387006
Name: school_name, dtype: float64

In [68]:
#Highest Performing Schools
TopSch_df=school_summary_df.sort_values(["% Passing Math","% Passing Reading","% Overall Passing Rate" ], ascending=False)
TopSch_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,94.694331
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,94.185705
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,93.910004
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,93.921553
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,93.458542

In [69]:
BottomSch_df=school_summary_df.sort_values("% Overall Passing Rate")
BottomSch_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,65.711799
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,66.015849
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,66.074611
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,66.386652
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,66.696530

In [70]:
#Lowest Perfoming Schools
BottomSch_df=school_summary_df.sort_values(["% Passing Math","% Passing Reading","% Overall Passing Rate" ], 
ascending=False)
BottomSch_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,94.694331
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,94.185705
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,93.910004
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,93.921553
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,93.458542

In [ ]:
Math Scores by Grade

In [72]:
#Math Scores by Grade
math_9th=student_data.loc[student_data["grade"] == "9th"].groupby(["school_name"])['math_score'].mean()
math_9th.head()
math_10th=student_data.loc[student_data["grade"] == "10th"].groupby(["school_name"])['math_score'].mean()
math_10th.head()
math_11th=student_data.loc[student_data["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()
math_11th.head()
math_12th=student_data.loc[student_data["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()
math_12th.head()

#Create a DF for Math Scores by Grade
math_byGrad=pd.DataFrame({"9th":math_9th, "10th": math_10th, "11th":math_11th, "12th":math_12th })
math_byGrad

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [ ]:
Reading Scores by Grade

In [76]:
#Reading Scores by Grade
read_9th=student_data.loc[student_data["grade"] == "9th" ].groupby(["school_name"])["reading_score"].mean()
read_10th=student_data.loc[student_data["grade"] == "10th" ].groupby(["school_name"])["reading_score"].mean()
read_11th=student_data.loc[student_data["grade"] == "11th" ].groupby(["school_name"])["reading_score"].mean()
read_12th=student_data.loc[student_data["grade"] == "12th" ].groupby(["school_name"])["reading_score"].mean()
reading_byGrade=pd.DataFrame({"9th":read_9th,"10th":read_10th, "11th":read_11th, "12th":read_12th })
reading_byGrade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [ ]:
Scores by School Spending

In [53]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
#Categorize spending based on the bins
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
#Dataframe
spending_summary_df = pd.Dataframe({
"Average Math Score" : spending_math_scores,
"Average Reading Score": spending_reading_scores,
"% Passing Math": spending_passing_math,
"% Passing Reading": spending_passing_reading,
"% Overall Passing": overall_passing_spending})

In [55]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
#Categorize spending based on the bins
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

In [ ]:
#Calculate average
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
#Dataframe
size_summary_df = pd.Dataframe({
"Average Math Score" : size_math_scores,
"Average Reading Score": size_reading_scores,
"% Passing Math": size_passing_math,
"% Passing Reading": size_passing_reading,
"% Overall Passing": size_overall_passing})

In [ ]:
#Calculate average
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
#Dataframe
type_summary_df = pd.Dataframe({
"Average Math Score" : type_math_scores,
"Average Reading Score": type_reading_scores,
"% Passing Math": type_passing_math,
"% Passing Reading": type_passing_reading,
"% Overall Passing": type_overall_passing})

In [ ]:
#Dataframe
type_summary_df = pd.Dataframe({
"Average Math Score" : type_math_scores,
"Average Reading Score": type_reading_scores,
"% Passing Math": type_passing_math,
"% Passing Reading": type_passing_reading,
"% Overall Passing": type_overall_passing})